<table class="tx-rbacexample-pi1" >
	<tr>
		<td>
			<f:translate key="tx_rbacexample_domain_model_event.date" />
		</td>
		<td>
			{event.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbacexample_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbacexample_domain_model_event.place" />
		</td>
		<td>
			{event.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbacexample_domain_model_event.secretplans" />
		</td>
		<td>
			{event.secretplans}
		</td>
	</tr>
</table>